/* Proxima Nova */
/* @font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proximanova/Fontspring-DEMO-proximanova-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proximanova/Fontspring-DEMO-proximanova-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proximanova/Fontspring-DEMO-proximanova-semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proximanova/Fontspring-DEMO-proximanova-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proximanova/Fontspring-DEMO-proximanova-extrabold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;

} */

/* IBM Plex Sans */


@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../fonts/ibmplexsans/IBMPlexSans-Bold.ttf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../fonts/ibmplexsans/IBMPlexSans-SemiBold.ttf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../fonts/ibmplexsans/IBMPlexSans-Medium.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../fonts/ibmplexsans/IBMPlexSans-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../fonts/ibmplexsans/IBMPlexSans-Light.ttf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}